doctype html
html
	head
		title 
		meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/css/admin.css?v=#{_v}')
		link(href="/css/iconfont.css" rel="stylesheet")
	body
		.admin-box#app(style="height:100%;")
			.admin-line-card
				.admin-filter-left
					p
						label 性别
						select(v-model='sex_c')
							option(value='1') 男
							option(value='2') 女
					p
						label 职业
						select(v-model='job1')
							option(v-for='key in job') {{key}}
				.admin-filter-right
					p
						label 性别
						select(v-model='sex_c')
							option(value='2') 男
							option(value='1') 女
					p
						label 职业
						select(v-model='job2')
							option(v-for='key in job') {{key}}
				i.admin-filter-jt
				.admin-filter-btn
					p(style='margin-top: .2rem;margin-bottom:.1rem;') 匹配说明:根据左边某性别某职业的人的择偶条件，来匹配出某职业的最合乎要求的异性，展示在右边
					button.red-bg(v-on:click='get_users') 开始匹配
					span &nbsp;
					//button.blue-bg(v-on:click='execl') 导出数据
			.admin-line-list
				.admin-line-left
					ul
						li(v-for='obj in data',v-if='obj')
							img(v-bind:src="obj.head_img",v-on:click='jump("/admin/userdetail?id="+obj.yid)')
							label {{obj.member_name}}
							a.red-bg(v-bind:href='"tel:"+obj.mobile') 呼出

				.admin-line-right
					ul
						li(v-for='obj in data',v-if='obj.match_openid')
							img(v-bind:src="obj.match_head",v-on:click='jump("/admin/userdetail?id="+obj.mid)')
							label {{obj.match_name}}
							a.red-bg(v-bind:href='"tel:"+obj.match_mobile') 呼出
						li(v-for='obj in data',v-if='!obj.match_openid')
							label 未找到可匹配的对象
			.admin-menu-bottom
				ul
					li
						a(href='/admin/?type=2')
							img(src="/img/user_admin.png")
							label 用户管理
					li
						a(href='/admin/line')
							img(src="/img/pair_admin.png")
							label 心动匹配
					li
						a(href='/admin/notice')
							img(src="/img/wechat_admin.png")
							label 微信通知
					li
						a(href='/admin/banner')
							img(src="/img/active_admin.png")
							label 活动通知
					li
						a(href="/admin/volunteer?type=-2&status=2")
							img(src="/img/auth_admin.png")
							label 权限管理
		.alert_msg
			p
		script.
			function _alert(msg,callback,time){
				document.querySelector(".alert_msg p").innerHTML=msg;
				document.querySelector(".alert_msg").style.display='block';
				if(time>0){
					setTimeout(function(){
					document.querySelector(".alert_msg").style.display='none';
						if(callback)
							callback();
					}, time?time:2000);
				}
			}
	script(src="/js/sys/mobile.js")
	script(src="/js/sys/vue.js")
	script(src="/js/sys/axios.min.js")		
	script(src="/js/admin/line.js?v=#{_v}")
