extends admin_layout

block content
	#message
		ul.talk-list
			li(v-for="obj in data")
				p
					img(v-bind:src="obj.head_img",class="img-mid")
				h6 {{obj.member_name}}
					button.red-bg(@click='lock_info(obj)',class="iconfont",style="font-size:.12rem;display:inline-block;float:right;") {{obj.review_status?'&#xe8a7;已公开':'&#xe792;已隐藏'}}
				div	{{obj.message}}
	script(src="/js/admin/message.js?v=#{_v}")