extends admin_layout

block content
	ul.admin-notice-list
		//- li
		//- 	.notice-info
		//- 		h5
		//- 			label 上半年央企什么都没干
		//- 		h6	人民日报日常公关
		//- 		h4 2018-01-01
		//- 	.notice-btn
		//- 		button.white-bg 编辑
		//- 		button.blue-bg 审核
		//- li
		//- 	.notice-info
		//- 		h5
		//- 			label 上半年央企什么都没干
		//- 		h6	人民日报日常公关
		//- 		h4 2018-01-01
		//- 	.notice-btn
		//- 		button.white-bg 编辑
		//- 		button.blue-bg 发送
	.button-add.notice-add