extends admin_layout

block content
	#index.admin-main(v-cloak)
		.search-box
			input#search(value="",placeholder="输入关键词进行搜搜",v-model='keyword')
			button.blue-bg(v-on:click="page=1;get_user()") 搜索
		ul.admin-member-list
			li(v-for='obj in data')
				.member-head
					a(v-bind:href="'/admin/userdetail?id='+obj.id")
						span
							img.img-mid(v-bind:src="obj.head_img")
						i
				.member-info
					a(v-bind:href="'/admin/userdetail?id='+obj.id")
						h5 
							label {{obj.member_name}}
							label &nbsp;{{getAge(obj.day_of_birth)}}
						h6	{{obj.work_unit}}
				.member-btn
					p.op_open(style="text-align: center;position:absolute;right:1rem;")
						button(@click='lock_info(obj)',class="iconfont",style="font-size:.12rem;") {{obj.is_open?'&#xe8a7;已公开':'&#xe792;已保密'}}
					button.blue-bg(v-if='obj.review_status==0',v-on:click='examine(obj,1)') 通过
					button.gray-bg(v-if='obj.review_status==0',v-on:click='examine(obj,-1)') 拒绝
					button.gray-bg(v-if='obj.review_status==1') 已通过
					button.gray-bg(v-if='obj.review_status==-1') 已拒绝
					button.red-bg(v-if='obj.review_status!=0',v-on:click='delete_user(obj)') 删除

		.admin-null(v-if='data.length<=0') 暂无相关数据
		.confirm(v-if='isconfirm',style="min-width:2.5rem;position: fixed;top:50%;left: 50%;background: #FFF;-webkit-transform: translate(-50%,-50%);text-align: center;box-shadow: #666 0px 0px 5px;border-radius:10px;padding:.2rem;")
			p {{confirmTxt}}
			h6(style="margin-top:.2rem;")
				button.red-bg(style="display:inline-block;margin-right:.1rem;",v-on:click="delete_now()") 删除
				button.gray-bg(style="display:inline-block;",v-on:click="isconfirm=false") 取消
		//a.goto_h5 
			span &nbsp;
			br
			span{{scroll}}
	script.
			var user_type=#{(!type)?0:type}
	script(src="/js/admin/index.js?v=#{_v}")

		