extends admin_layout

block content
	ul.admin-member-list
		li
			.member-head
				span
					img.img-mid(src="/temp/file-1532054756078.jpg")
				i
			.member-info
				h5
					label 方文山
					label 13岁
				h6	杭州泓唛网络科技有限公司
			.member-btn
				button.blue-bg 审核
		li
			.member-head
				span
					img(src="/temp/file-1532054756078.jpg")
				i
			.member-info
				h5
					label 方文山
					label 13岁
				h6	杭州泓唛网络科技有限公司
			.member-btn
				button.gray-bg 删除 

		