
meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
link(rel='stylesheet', href='/css/admin.css')
script(src="/js/sys/mobile.js")
script(src="/js/sys/vue.js")
script(src="https://unpkg.com/axios/dist/axios.min.js")

style(type='text/css').
	*{
	margin: 0;
	padding: 0;
	}
	.detail_top{
	width: 100%;
	padding: 0.16rem 0;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #DDDDDD;
	z-index: 999;
	box-sizing: border-box;
	height: 0.55rem;
	}
	.detail_top:after{
	content: '';
	display: table;
	clear: both;
	}
	.back_a{
	float: left;
	width: 0.15rem;
	margin-left: 0.15rem;
	}
	.back_a img{
	display: block;
	width: 100%;
	}
	.detail_title{
	text-align: center;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	font-weight: 600;
	color: #323232;
	}
	.detail_main{
	width: 100%;
	}
	.main_top{
	width: 100%;
	margin-top: 0.55rem;
	position: relative;
	}
	.main_bg{
	display: block;
	width: 100%;
	}
	.member_img_box{
	width: 0.8rem;
	height: 0.8rem;
	position: absolute;
	top: 0.61rem;
	left:50%;
	transform:translateX(-50%);
	border-radius: 0.8rem;
	overflow: hidden;
	}
	.member_img{
	max-width: 0.8rem;
	height: 0.8rem;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	}
	.top_name{
	margin-top: 0.51rem;
	text-align: center;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	font-weight: 500;
	color: #323232;
	}
	.top_info{
	margin-top: 0.1rem;
	margin-bottom: 0.15rem;
	line-height: 1;
	text-align: center;
	font-size: 0.11rem;
	font-family: "microsoft yahei";
	color: #AAAAAA;
	}
	.top_info span{
	font-size: 0.11rem;
	font-family: "microsoft yahei";
	color: #AAAAAA;
	}
	.top_height,
	.top_address{
	margin-left: 0.13rem;
	}
	.main_content{
	width: 100%;
	padding-top: 0.14rem;
	border-top: 0.1rem solid #F5F5F5;
	border-bottom: 0.1rem solid #F5F5F5;
	}
	.main_title{
	margin-bottom: 0.15rem;
	text-align: center;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	font-weight: 900;
	color: #323232;
	}
	.main_info{
	width: 100%;
	padding: 0.18rem 0;
	border-bottom: 1px solid #DDDDDD;
	}
	.main_info:after{
	content: '';
	display: table;
	clear: both;
	}
	.info_left{
	float: left;
	width: 0.8rem;
	margin-left: 0.15rem;
	margin-right: 0.2rem;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	color: #AAAAAA;
	}
	.info_right{
	float: left;
	font-size: 0.15rem;
	font-family: "microsoft yahei";
	color: #323232;
	}
	.main_bottom{
	width: 100%;
	margin-bottom: 0.31rem;
	padding-top: 0.14rem;
	}
	.like_btn{
	display: none;
	width: 100%;
	padding: 0.03rem 0;
	background: -webkit-linear-gradient(left, #FFB6A0 , #FF9494); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #FFB6A0, #FF9494); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #FFB6A0, #FF9494); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #FFB6A0 , #FF9494); /* 标准的语法（必须放在最后） */
	}
	.like_btn img{
	display: block;
	width: 0.5rem;
	height: 0.45rem;
	margin: 0 auto;
	}
	.unlike_btn{
	display: none;
	width: 100%;
	padding: 0.03rem 0;
	background: -webkit-linear-gradient(left, #FFFFFF , #DEDEDE); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #FFFFFF, #DEDEDE); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #FFFFFF, #DEDEDE); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #FFFFFF , #DEDEDE); /* 标准的语法（必须放在最后） */
	}
	.unlike_btn img{
	display: block;
	width: 0.5rem;
	height: 0.45rem;
	margin: 0 auto;
	}
	.info_right button{display:inline-block;margin-left:.1rem;}
#user_detail(v-cloak)
	.detail_top
		a.back_a(onclick='history.go(-1)')
			img(src='/img/返回.png', alt='')
		p.detail_title 用户信息
	.detail_main
		.main_top
			img.main_bg(src='/img/背景图.jpg', alt='')
			// <img class="member_img" src="/img/头像.png" alt="" />
			.member_img_box
				img.member_img(v-if="news.head_img==''", src='/img/noheadimg.png', alt='头像未上传')
				img.member_img(v-if="news.head_img!=''", v-bind:src='news.head_img', alt='头像未上传')
			p.top_name {{news.member_name}}
			p.top_info
				span.top_age {{getAge(news.day_of_birth)}}
				| 岁
				span.top_height {{news.height}}
				| cm/
				span.top_weight {{news.weight}}
				| kg
				span.top_address {{news.domicile}}
		.main_content
			p.main_title 基本信息
			.main_info
				span.info_left 性别
				span#m_gender.info_right(v-if='news.sex==1') 男
				span#m_gender.info_right(v-if='news.sex==2') 女
			.main_info
				span.info_left 手机
				span.info_right {{news.mobile}}
			.main_info
				span.info_left 出生年月
				span#m_birthday.info_right {{getBirth(news.day_of_birth)}}
			.main_info
				span.info_left 工作单位
				span#m_company.info_right {{news.work_unit}}
			.main_info
				span.info_left 部门职务
				span#m_work.info_right {{news.job}}
			.main_info
				span.info_left 学历
				span#m_education.info_right {{mInfo.education}}
			.main_info
				span.info_left 年收入
				span#m_income.info_right {{income[news.income_type]}}
			.main_info
				span.info_left 毕业院校
				span#m_school.info_right {{news.college}}
			.main_info
				span.info_left 健康状况
				span#m_health.info_right {{news.health}}
			.main_info
				span.info_left 民族
				span#m_nation.info_right {{news.nation}}
			.main_info
				span.info_left 住房状况
				span#m_house.info_right {{news.housing}}
			.main_info
				span.info_left 购车状况
				span#m_car.info_right {{news.car_buying}}
			.main_info
				span.info_left 兴趣爱好
				span#m_hobby.info_right {{news.hobby}}
			.main_info
				span.info_left 个人特长
				span#m_specialty.info_right {{news.special}}
		.main_bottom
			p.main_title 择偶标准
			.main_info
				span.info_left 身高
				span#f_height.info_right(v-if="standardInfo.height_range!='-'") {{standardInfo.height_range+'cm'}}
				span#f_height.info_right(v-if="standardInfo.height_range=='-'") {{'不限'}}
			.main_info
				span.info_left 年龄区间
				span#f_age.info_right(v-if="standardInfo.age_range!='-'") {{standardInfo.age_range}}岁
				span#f_age.info_right(v-if="standardInfo.height_range=='-'") {{'不限'}}
			.main_info
				span.info_left 体重
				span#f_weight.info_right(v-if="standardInfo.weight_range!='-'") {{standardInfo.weight_range}}kg
				span#f_age.info_right(v-if="standardInfo.weight_range=='-'") {{'不限'}}
			.main_info
				span.info_left 职业
				span#f_job.info_right {{standardInfo.job}}
			.main_info
				span.info_left 年收入
				span#f_income.info_right(v-if="standardInfo.income_range!='-'") {{standardInfo.income_range}}万元
				span#f_age.info_right(v-if="standardInfo.income_range=='-'") {{'不限'}}
			.main_info
				span.info_left 住房
				span#f_house.info_right {{standardInfo.housing}}
			.main_info
				span.info_left 购车
				span#f_car.info_right {{standardInfo.car_buying}}
			.main_info
				span.info_left 户籍
				span#f_address.info_right {{standardInfo.house_nature}}
			.main_info
				span.info_left 兴趣爱好
				span#f_hobby.info_right 运动；游泳
			.main_info
				span.info_left 其他
				span#f_other.info_right 无
			.main_info
				span.info_left &nbsp;
				span#f_other.info_right
					a(v-bind:href='"tel:"+news.mobile')
						button.blue-bg 一键呼出
					button.blue-bg(v-if='news.review_status==0',v-on:click='examine(news,1)') 通过
					button.blue-gray(v-if='news.review_status==0',v-on:click='examine(news,-1)') 拒绝
					button.blue-red(v-if='news.review_status==1') 已通过
					button.blue-red(v-if='news.review_status==-1') 已拒绝


script var id=#{id}
script(src="/js/admin/user.js")
