extends admin_layout

block content
	#volunteer[v-cloak]
		ul.admin-member-list
			li(v-for="obj in data")
				.member-head
					span
						img(v-bind:src="obj.head_img")
					i
				.member-info
					h5
						label {{obj.name}}
						label &nbsp;
					h6	{{obj.work_unit}}
				.member-btn
					i.checkbox.checked
	script var type=#{type!=undefined?type:undefined};
	script(src="/js/admin/volunteer.js")

		