extends admin_layout

block content
	#pair
		ul.admin-pair-list
			li(v-for='obj in data')
				dl.member-dl
					dt
						img(v-bind:src="obj.img1" alt="")
					dd
						p.member-name {{obj.name1}}
						p.member-info
							span.member_age {{getAge(obj.id1)}}
							span.member-stature {{obj.h1}}cm
							span.member_weight {{obj.w1}}kg
					a(v-bind:href='"tel:"+obj.tel1')
						button.blue-bg 一键呼出
				dl.member-dl
					dt
						img(v-bind:src="obj.img2" alt="")
					dd
						p.member-name {{obj.name2}}
						p.member-info
							span.member_age {{getAge(obj.id2)}}
							span.member-stature {{obj.h2}}cm
							span.member_weight {{obj.w2}}kg
					a(v-bind:href='"tel:"+obj.tel2')
						button.blue-bg 一键呼出
				if(type==1)
					.pair-value
						label 匹配度
						strong 99
				if(type==2)
					.pair-value
						img.follow(src="/img/follow.png")
						span 互相关注

		.admin-null(v-if='data.length<=0') 暂无相关数据
	if(type==2)
		script(src='/js/admin/multi.js')
	if(type==1)
		script(src='/js/admin/pair.js')