doctype html
html
	head
		title 
		meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/css/admin.css?v=#{_v}')
		link(href="/css/iconfont.css" rel="stylesheet")
		script(src="/js/sys/mobile.js")
		script(src="/js/sys/vue.js")
		script(src="https://unpkg.com/axios/dist/axios.min.js")
	body
		.admin-box#app(style="height:100%;")
			.admin-line-card
				.admin-filter-left
					p
						label 性别
						select(v-model='sex_c')
							option(value='1') 男
							option(value='2') 女
					p
						label 职业
						select(v-model='job1')
							option(v-for='key in job') {{key}}
				.admin-filter-right
					p
						label 性别
						select(v-model='sex_c')
							option(value='2') 男
							option(value='1') 女
					p
						label 职业
						select(v-model='job2')
							option(v-for='key in job') {{key}}
				.admin-filter-btn
					button.red-bg 开始匹配
			.admin-line-list
				.admin-line-left
				.admin-line-right
		script(src="/js/admin/line.js?v=#{_v}")
