extends admin_layout

block content
	ul.admin-banner-list
		//- li
		//- 	.banner-img
		//- 		img.img-mid(src="/temp/file-1532054756078.jpg")
		//- 	.banner-info
		//- 		h5 因为有你，缘聚长袖
		//- 		h6
		//- 			label 2018-01-01 
		//- 			span.banner-button
		//- 				button.white-bg 删除
		//- 				button.white-bg 编辑
		//- 				button.blue-bg 发送

		