extends admin_layout

block content
	ul.admin-pair-list
		li
			dl.member-dl
				dt
					img(src="/temp/file-1532054756078.jpg" alt="")
				dd
					p.member-name 胡歌
					p.member-info
						span.member_age 26
						span.member-stature 185cm
						span.member_weight 250kg
				button.blue-bg 一键呼出
			dl.member-dl
				dt
					img(src="/temp/file-1532054756078.jpg" alt="")
				dd
					p.member-name 胡歌
					p.member-info
						span.member_age 26
						span.member-stature 185cm
						span.member_weight 250kg
				button.blue-bg 一键呼出
			//.pair-value
				label 匹配度
				strong 99
			.pair-value
				img.follow(src="/img/follow.png")
				span 互相关注
			