<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	.editor_main{
		width: 100%;
		background: #FFFFFF;
		position: relative;
	}
	.top_img{
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	.editor_title{
		display: block;
		width: 2.22rem;
		position: absolute;
		top: 1.22rem;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	.editor_info{
		width: 100%;
		padding: 0.18rem 0;
		border-bottom: 1px solid #DDDDDD;
	}
    .editor_info span:before{
        content:" ";
    }
    .editor_info .must:before{
        content:"*";
        color:red;
    }
	.editor_info:after{
		content: '';
		display: table;
		clear: both;
	}
	.img_up{
		border-bottom: none;
	}
	.info_title{
		float: left;
		width: 0.84rem;
		margin-left: 0.16rem;
		margin-right: .16rem;
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	.e_img{
		float: left;
		width: 1rem;
		height: 1rem;
		border: 1px dashed #323232;
		border-radius: 5px;
		
	}
	.e_img_inner{
		height: 1rem;  
	    width: 1rem;  
	    overflow: hidden;
	    background-image: url();
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	/*#uploadImg{
		height: 1rem;  
	    width: 1rem;  
	    overflow: hidden;
	}
	.e_img img{
		display: block;
		position: relative;
	    top: 0;
	    left: 0;
	}*/
	#e_center{
		display: block;
		margin-top: 0.15rem;
		margin-bottom: 0.25rem;
		text-align: center;
		line-height: 1;
		font-size: 0.6rem;
		font-family: "microsoft yahei";
		font-weight: 100;
	}
	#addTextForm{
		display: none;
	}
	.info_input{
		width: 60%;
		border: none;
		outline: none;
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
	    font-weight: 300;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    font-weight: 300;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    font-weight: 300;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    font-weight: 300;
	}
	.select_text{
		float: left;
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	
	.editor_bot{
		padding-bottom: 0;
	}
	.info_top{
		padding-bottom: 0.18rem;
	}
	.info_top:after{
		content: '';
		display: table;
		clear: both;
	}
	.open_select{
		float: right;
		width: 0.15rem;
		margin-right: 0.15rem;
		margin-top: 0.05rem;
	}
	.select_div{
		display: none;
		clear: both;
		width:100%;
		/*padding-top: 0.18rem;*/
	}
	.select_div p{
		padding-left: 1.15rem;
		line-height: 2;
		background: #FFB6A0;
		border-bottom: 1px solid #EEEEEE;
		color: #FFFFFF;
	}
	.select_div p:hover{
		background: #FF9494;
	}
	
	.choose_title{
		display: block;
		width: 2.22rem;
		margin: 0.15rem auto 0.09rem;
	}
	
	.range_input{
		float: left;
		width: 60%;
	}
	.range_input span{
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	.range_line{
		padding-right: 0.06rem;
	}
	.range_left,
	.range_right{
		width: 21%;
		border: none;
		outline: none;
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	
	.bottom_text{
		padding: 0.25rem 0.35rem 0.35rem 0.15rem;
		text-align: left;
		font-size: 0.13rem;
		font-family: "microsoft yahei";
		font-weight: 500;
		color: #323232;
	}
    .bottom_text i{
        float:left;
    }
    .bottom_text i:before{
        content: " *\00A0"
    }
    .bottom_text label{
            display: inline-block;
            width: 3rem;
    }

	.submit_btn{
		display: block;
		width: 3.45rem;
		margin: 0 auto 0.6rem;
	}

    
    .alert_qr{
    	display: none;
    	width: 100%;
    	height: 100%;
    	padding: 0.36rem 0;
        position: fixed;
        top: 0;
        left: 0;
        /*right: 0;
        margin: auto;*/
        /*background-color: black;*/
       background: rgba(0,0,0,0.6);
        border-radius: 3px;
        /*opacity: 0.5;*/
        line-height: 1.2;
        text-align: center;
        font-size: 0.18rem;
        color: #fff;
    }
    .alert_qr p{
    	margin-top: 0.45rem;
    	padding: 0 0.1rem;
    	font-size: 0.14rem;
        word-wrap: break-word;
        word-break: normal;
    }
    .qr_code{
    	display: block;
    	width: 81%;
    	margin: 0.36rem auto;
    }
    .goList{
    	display: block;
    	width: 27%;
    	margin: 0 auto;
    	padding: 0.1rem 0;
    	background-color: #FF9494;
    	border-radius: 0.05rem;
    	font-size: 0.14rem;
    	color: #FFFFFF;
    }
</style>
<article id="editor">
    <div class="editor_main" >
    	<img class="top_img" src="/img/通栏.jpg?v=0.02"/>
    	<img class="editor_title" src="/img/联谊活动.png"/>
        <p></p>
    	
    	<div class="editor_info img_up">
            <span class="info_title">上传图片</span>
            <div class="e_img" v-on:click="change_input()">
            	<div class="e_img_inner" v-on:click="deleteImg($event)">
            		<span id="e_center">+</span>
            		<!--<img class="head_img" src=""/>-->
            	</div>
            </div>
            <form id="addTextForm" v-on:change="setImg($event)"></form>
        </div>
        
        <div class="editor_info">
            <span class="info_title">姓名</span>
            <input class="info_input" id="member_name" type="text" value="" placeholder="请输入姓名" />
        </div>
        
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">性别</span>
        		<span class="select_text" id="member_gender" data-val="1">男</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
    	    	<p value="1">男</p>
    	    	<p value="2">女</p>
    	    </div>
        </div>
        
        <div class="editor_info">
            <span class="info_title">出生年月</span>
            <input class="info_input" id="member_birth" type="date" value="" placeholder="例 1990.1.1"/>
        </div>
        <div class="editor_info">
            <span class="info_title">身份证号码</span>
            <input class="info_input" id="member_card" type="text" value="" placeholder="请输入身份证号码（信息严格保密，不会显示给其他用户）" />
        </div>
        <div class="editor_info">
            <span class="info_title">现户籍地</span>
            <input class="info_input" id="member_address" type="text" value="" placeholder="请输入现户籍地" />
        </div>
        <div class="editor_info editor_bot">
            <div class="info_top">
                <span class="info_title">公司类别</span>
                <span class="select_text" id="member_gender" data-val="1">{{companyCategory[companyCategoryIndex]}}</span>
                <img class="open_select" src="/img/展开.png"/>
            </div>
            <div class="select_div">
                <p v-for="value,index in companyCategory" value="1" v-on:click="companyCategoryIndex=index">{{value}}</p>
            </div>
        </div>
        <div class="editor_info">
            <span class="info_title">工作单位</span>
            <input class="info_input" id="member_company" type="text" value="" placeholder="请输入工作单位" />
        </div>

        <div class="editor_info editor_bot">
            <div class="info_top">
                <span class="info_title">从事行业</span>
                <span class="select_text" id="member_job" data-val="1">{{job[jobIndex].value}}</span>
                <img class="open_select" src="/img/展开.png"/>
            </div>
            <div class="select_div" style="">
                <p value="1" v-for="key in Object.keys(job)" v-on:click="jobIndex=key;jobIndex2=Object.keys(job[key].category)[0]" style="cursor: pointer;">{{job[key].value}}</p>
            </div>
        </div>
        <div class="editor_info editor_bot">
            <div class="info_top">
                <span class="info_title">从事职业</span>
                <span class="select_text" id="member_job2" data-val="1">{{job[jobIndex].category[jobIndex2]}}</span>
                <img class="open_select" src="/img/展开.png"/>
            </div>
            <div class="select_div">
                <p value="1" v-for="key in Object.keys(job[jobIndex].category)" v-on:click="jobIndex2=key;">{{job[jobIndex].category[key]}}</p>
            </div>
        </div>

        <!--<div class="editor_info">
            <span class="info_title">学历</span>
            <input class="info_input" id="member_education" type="text" value="" placeholder="请输入学历" />
        </div>-->
        
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">学历</span>
        		<span class="select_text" id="member_education" data-val="">请选择</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="0">其他</p>
                <p value="1">小学</p>
                <p value="2">初中</p>
                <p value="3">高中</p>
                <p value="4">中专</p>
                <p value="5">大学专科</p>
                <p value="6">大学本科</p>
                <p value="7">研究生</p>
    	    </div>
        </div>
        
        <!--<div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">年收入</span>
        		<span class="select_text" id="member_income" data-val="">请选择</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">5万元以下</p>
                <p value="2">5-10万元</p>
                <p value="3">10-15万元</p>
                <p value="4">15万元以上</p>
    	    </div>
        </div>-->
<!--         <div class="editor_info">
            <span class="info_title">年收入(万元)</span>
            <input class="info_input" id="member_income" type="number" value="" placeholder="请输入年收入(万元)" />
        </div> -->
        <div class="editor_info editor_bot">
            <div class="info_top">
                <span class="info_title">年收入</span>
                <span class="select_text" id="member_income" data-val="">{{income[incomeIndex]}}</span>
                <img class="open_select" src="/img/展开.png"/>
            </div>
            <div class="select_div">
                <p value="0" v-for="value,index in income"  v-on:click="incomeIndex=index">{{value}}</p>
            </div>
        </div>


        <div class="editor_info">
            <span class="info_title">毕业院校</span>
            <input class="info_input" id="member_school" type="text" value="" placeholder="请输入毕业院校" />
        </div>
        <div class="editor_info">
            <span class="info_title">健康状况</span>
            <input class="info_input" id="member_health" type="text" value="" placeholder="请输入健康状况" />
        </div>
        <div class="editor_info">
            <span class="info_title">身高(cm)</span>
            <input class="info_input" id="member_height" type="number" value="" placeholder="请输入身高(cm)" />
        </div>
        <div class="editor_info">
            <span class="info_title">体重(kg)</span>
            <input class="info_input" id="member_weight" type="number" value="" placeholder="请输入体重(kg)" />
        </div>
        <div class="editor_info">
            <span class="info_title">民族</span>
            <input class="info_input" id="member_nation" type="text" value="" placeholder="请输入民族" />
        </div>
        
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">住房状况</span>
        		<span class="select_text" id="member_house" data-val="">请选择</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">有房</p>
                <p value="2">无房</p>
    	    </div>
        </div>
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">购车状况</span>
        		<span class="select_text" id="member_car" data-val="">请选择</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">有车</p>
                <p value="2">无车</p>
    	    </div>
        </div>
        
        <div class="editor_info">
            <span class="info_title">兴趣爱好</span>
            <input class="info_input" id="member_hobby" type="text" value="" placeholder="请填写兴趣爱好" />
        </div>
        <div class="editor_info">
            <span class="info_title">个人特长</span>
            <input class="info_input" id="member_specialty" type="text" value="" placeholder="请填写个人特长" />
        </div>
        <div class="editor_info">
            <span class="info_title">手机号码</span>
            <input class="info_input" id="member_tel" type="text" value="" placeholder="请输入个人联系方式（信息严格保密，不会显示给其他用户）" />
        </div>
        
        <img class="choose_title" src="/img/择偶标准.png" alt="" />
    	
    	<div class="editor_info">
            <span class="info_title">年龄区间</span>
            <div class="range_input">
    	        <input class="range_left" id="filter_age01" type="number" value="" placeholder="例 20" />
    	        <span class="range_line">-</span>
    	        <input class="range_right" id="filter_age02" type="number" value="" placeholder="例 30" />
    	        <span>岁</span>
            </div>
        </div>
        <div class="editor_info">
            <span class="info_title">身高区间</span>
            <div class="range_input">
    	        <input class="range_left" id="filter_height01" type="number" value="" placeholder="例 160" />
    	        <span class="range_line">-</span>
    	        <input class="range_right" id="filter_height02" type="number" value="" placeholder="例 170" />
    	        <span>cm</span>
            </div>
        </div>
        <div class="editor_info">
            <span class="info_title">体重区间</span>
            <div class="range_input">
    	        <input class="range_left" id="filter_weight01" type="number" value="" placeholder="例 60" />
    	        <span class="range_line">-</span>
    	        <input class="range_right" id="filter_weight02" type="number" value="" placeholder="例 70" />
    	        <span>kg</span>
            </div>
        </div>
        
        <div class="editor_info">
            <span class="info_title">职业</span>
            <input class="info_input" id="filter_job" type="text" value="" placeholder="请输入职业" />

        </div>
        
        <div class="editor_info">
            <span class="info_title">年收入</span>
            <div class="range_input">
    	        <input class="range_left" id="filter_income01" type="number" value="" placeholder="例 5" />
    	        <span class="range_line">-</span>
    	        <input class="range_right" id="filter_income02" type="number" value="" placeholder="例 10" />
    	        <span>万</span>
            </div>
        </div>
        
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">住房</span>
        		<span class="select_text" id="filter_house">有房</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">有房</p>
                <p value="2">无房</p>
                <p value="3">不限</p>
    	    </div>
        </div>
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">购车</span>
        		<span class="select_text" id="filter_car">有车</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">有车</p>
                <p value="2">无车</p>
                <p value="3">不限</p>
    	    </div>
        </div>
        <div class="editor_info editor_bot">
        	<div class="info_top">
        		<span class="info_title">户籍</span>
        		<span class="select_text" id="filter_address">本地</span>
        		<img class="open_select" src="/img/展开.png"/>
        	</div>
    	    <div class="select_div">
                <p value="1">本地</p>
                <p value="2">外地</p>
                <p value="3">不限</p>
    	    </div>
        </div>
        
        <!--<div class="editor_info">
            <span class="info_title">兴趣爱好</span>
            <input class="info_input" id="filter_hobby" type="text" value="" placeholder="请输入兴趣爱好" />
        </div>-->
        <!--<div class="editor_info">
            <span class="info_title">其他</span>
            <input class="info_input" id="filter_other" type="text" value="" placeholder="请输入" />
        </div>-->
        
        <p class="bottom_text">特别声明：<br/>
        <i></i><label>个人照片手机住址单位信息严格保密</label><br/>
        <i></i><label>本人承诺以上资料真实有效，由此带来的一切法律责任由本人自行承担<label><br/>
         </p>
        
        <img class="submit_btn" v-on:touchstart="allSubmit()" src="/img/提交.png" alt="" />
        
    </div>

    <div class="alert_msg">
        <p></p>
    </div>

    <div class="alert_qr">
    	<p>提交成功！<br /><br />请关注长兴县总工会，以获取通知。</p>
    	<img class="qr_code" src="/img/qr_code.jpg" alt="" />
        <a class="goList" href="#list">返回列表页</a>
    </div>
</article>