<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	.filter_top{
		width: 100%;
		padding: 0.16rem 0;
		background-color: #FFFFFF;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
    	height: 0.55rem;
		border-bottom: 1px solid #DDDDDD;
	}
	.filter_top:after{
		content: '';
		display: table;
		clear: both;
	}
	.back_a{
		float: left;
		width: 0.15rem;
		margin-left: 0.15rem;
	}
	.back_a img{
		display: block;
		width: 100%;
	}
	.filter_title{
		text-align: center;
		font-size: 0.15rem;
		font-family: "microsoft yahei";
		font-weight: 600;
		color: #323232;
	}
	
	.filter_main{
		width: 100%;
		margin-top: 0.55rem;
		background-color: #FFFFFF;
	}
	.filter_info{
		width: 100%;
		padding-top: 0.18rem;
		border-bottom: 1px solid #DDDDDD;
	}
	.filter_info:after{
		content: '';
		display: table;
		clear: both;
	}
	.info_title{
		display: inline-block;
		padding-left: 0.15rem;
		line-height: 1;
		font-size: 0.15rem;
		font-family: "microsoft yahei";
		color: #323232;
	}
	.info_top{
		padding-bottom: 0.18rem;
	}
	.info_top:after{
		content: '';
		display: table;
		clear: both;
	}
	.select_text{
		float: right;
		font-size: 0.14rem;
		font-family: "microsoft yahei";
		font-weight: 500;
		color: #323232;
	}
	.open_select{
		float: right;
		width: 0.07rem;
		margin-right: 0.15rem;
		margin-left: 0.17rem;
		margin-top: 0.05rem;
	}
	.select_div{
		display: none;
		clear: both;
		width:100%;
	}
	.select_div p{
		text-align: right;
		padding-right: 0.36rem;
		line-height: 2;
		background: #FFB6A0;
		border-bottom: 1px solid #EEEEEE;
		color: #FFFFFF;
	}
	.select_div p:hover{
		background: #FF9494;
	}
	
	
	
	.filter_ok{
		display: block;
		width: 3.45rem;
		margin: 0.5rem auto;
	}
</style>
<div class="filter_top">
	<a class="back_a" href="###" onclick="history.go(-1)"><img src="/img/返回.png" alt="" /></a>
	<p class="filter_title">筛选</p>
</div>
<div class="filter_main">
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">年龄</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_age" data-val="">请选择</span>
    	</div>
	    <div class="select_div">
            <p value="20-30">20-30岁</p>
            <p value="30-40">30-40岁</p>
            <p value="40-50">40-50岁</p>
            <p value="50-100">50岁以上</p>
	    </div>
    </div>
    
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">身高</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_height" data-val="">请选择</span>
    	</div>
	    <div class="select_div">
            <p value="0-150">150cm以下</p>
            <p value="150-160">150-160cm</p>
            <p value="160-170">160-170cm</p>
            <p value="170-180">170-180cm</p>
            <p value="180-190">180-190cm</p>
            <p value="190-260">190cm以上</p>
	    </div>
    </div>
    
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">学历</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_education" data-val="">请选择</span>
    	</div>
	    <div class="select_div">
            <p value="0">其他</p>
            <p value="1">小学</p>
            <p value="2">初中</p>
            <p value="3">高中</p>
            <p value="4">中专</p>
            <p value="5">大学专科</p>
            <p value="6">大学本科</p>
            <p value="7">研究生</p>
	    </div>
    </div>
    
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">年收入</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_income" data-val="">请选择</span>
    	</div>
	    <div class="select_div">
            <p value="0-5">5万以下</p>
            <p value="5-10">5-10万</p>
            <p value="10-15">10-15万</p>
            <p value="15-100">15万以上</p>
	    </div>
    </div>
    
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">住房状况</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_house" data-val="">有房</span>
    	</div>
	    <div class="select_div">
            <p value="1">有房</p>
            <p value="2">无房</p>
            <p value="3">不限</p>
	    </div>
    </div>
    
    <div class="filter_info">
    	<div class="info_top">
    		<span class="info_title">购车状况</span>
    		<img class="open_select" src="/img/更多.png"/>
    		<span class="select_text" id="f_car" data-val="">有车</span>
    	</div>
	    <div class="select_div">
            <p value="1">有车</p>
            <p value="2">无车</p>
            <p value="3">不限</p>
	    </div>
    </div>
    
</div>
<img class="filter_ok" src="/img/筛选确定.png" alt="" />

