<div id="history">
	<header class="title">
		<a class="back_a" href="#list"><img src="/img/返回.png" alt="" /></a>
		<label>往期活动</label>
	</header>

	<ul class="history-list">
		<li><a href="https://mp.weixin.qq.com/s/hamALRkMS79zhWOjeJeZnw"><img src="/img/hd_4.jpg"/><label>“姻为有你，缘聚长兴”跨年活动</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/iSObxO3v61iIS2S1NqEzZA"><img src="/img/hd_6.jpg"/><label>冬至日短，爱情最长，面基大会开始啦</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/h5lYntK3uu2MchdoXbEOgQ"><img src="/img/hd_7.jpg"/><label>光棍节前的最后冲刺，吉利汽车小哥哥带你漫步古道赏长兴醉美秋色！</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/fztZipqrVym21m8rLpn9sQ"><img src="/img/hd_5.jpg"/><label>工青妇户外登山摄影活动温馨时刻</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/lf0LG-gVXBf_FmBsdqbMNQ"><img src="/img/hd_1.jpg"/><label>[9.9]9月9日邀请单身的你“相约久久”</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/7OhxokziiMlyASa8NncMYw"><img src="/img/hd_2.jpg"/><label>[8.17]七夕海信交友活动回放</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/Yi7WCyh70BF_HVig4h0nUg"><img src="/img/hd_3.jpg"/><label>[8.8]恰同学少年！姻为有你，缘聚长兴！</label></a></li>
	</ul>
</div>