<div id="history">
	<header class="title">
		<a class="back_a" href="#list"><img src="/img/返回.png" alt="" /></a>
		<label>往期活动</label>
	</header>

	<ul class="history-list">
		<li><a href="https://mp.weixin.qq.com/s/lf0LG-gVXBf_FmBsdqbMNQ"><img src="/img/hd_1.jpg"/><label>[9.9]9月9日邀请单身的你“相约久久”</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/7OhxokziiMlyASa8NncMYw"><img src="/img/hd_2.jpg"/><label>[8.17]七夕海信交友活动回放</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/Yi7WCyh70BF_HVig4h0nUg"><img src="/img/hd_3.jpg"/><label>[8.8]恰同学少年！姻为有你，缘聚长兴！</label></a></li>
	</ul>
</div>