<div id="history">
	<header class="title">
		<a class="back_a" href="#list"><img src="/img/返回.png" alt="" /></a>
		<label>往期活动</label>
	</header>

	<ul class="history-list">
		<li><a href="https://mp.weixin.qq.com/s/hamALRkMS79zhWOjeJeZnw"><img src="https://mmbiz.qpic.cn/mmbiz_jpg/f0bjpEACnw71IwDBetC8NXjASOicwq11bqib5PAezOVHwArCWEsroZEvHM6yrqXWScricTRPmGSupT9TfNuuLqtRw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1"/><label>“姻为有你，缘聚长兴”跨年活动</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/iSObxO3v61iIS2S1NqEzZA"><img src="https://mmbiz.qpic.cn/mmbiz_jpg/aib5DNmtZpRX8dbic3FEoMlcyhwN1Fpcg8wdTuR2SabGmDkGPJeXNa5Lt4xLzfNTbhwHD3uiadGSkVmsXhCdawwoQ/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1"/><label>冬至日短，爱情最长，面基大会开始啦</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/h5lYntK3uu2MchdoXbEOgQ"><img src="https://mmbiz.qpic.cn/mmbiz_jpg/aib5DNmtZpRWCeTrJA5nfvbDcbx0T57H0N5xhv2wBfIkicicQyUH1upQnwb5lYpNia2UV6cHyF18gHsONGt72xaGtw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1"/><label>光棍节前的最后冲刺，吉利汽车小哥哥带你漫步古道赏长兴醉美秋色！</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/fztZipqrVym21m8rLpn9sQ"><img src="https://mmbiz.qpic.cn/mmbiz_jpg/f0bjpEACnw7c1lCR5LUDDibmISybr3eXbg5rXCjOa2LDcWf6XyIGxDdNAyy6G1NvgicdIIEsAhX9gVwp0ib57icTFw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1&wx_co=1"/><label>工青妇户外登山摄影活动温馨时刻</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/lf0LG-gVXBf_FmBsdqbMNQ"><img src="/img/hd_1.jpg"/><label>[9.9]9月9日邀请单身的你“相约久久”</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/7OhxokziiMlyASa8NncMYw"><img src="/img/hd_2.jpg"/><label>[8.17]七夕海信交友活动回放</label></a></li>
		<li><a href="https://mp.weixin.qq.com/s/Yi7WCyh70BF_HVig4h0nUg"><img src="/img/hd_3.jpg"/><label>[8.8]恰同学少年！姻为有你，缘聚长兴！</label></a></li>
	</ul>
</div>