
<div id="list_app" v-cloak>
	<div class="list_top">
		<a class="top_left" href="#detail"><img class="member_img" v-bind:src="head_img" alt="" /></a>
		<p class="list_title">会员列表</p>
		<a class="top_right" href="#system"><img class="filter_img" src="/img/system.png" alt=""></a>
	</div>

	<div class="banner">
		<div class="banner-main">
			<ul>
				<li>
					<a>
						<img src="/img/通栏.jpg"/>
						<h3>姻为有你，缘聚长兴</h3>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
	<div class="banner-bar banner-ban-abs">
			<ul>
				<li><button class="red-bg"></button></li>
			</ul>
		</div>
	<div class="list-filter">
<!-- 		<button v-bind:class="[orderNow==0?orderArr[0].value:'']" v-on:click="orderArr[0].value=='desc'?orderArr[0].value='asc':orderArr[0].value='desc';orderNow=0;getFirstData(true);">关注度</button>
		<button v-bind:class="[orderNow==1?orderArr[1].value:'']" v-on:click="orderArr[1].value=='desc'?orderArr[1].value='asc':orderArr[1].value='desc';orderNow=1;getFirstData(true);">匹配度</button>
		<button v-bind:class="[orderNow==2?orderArr[2].value:'']" v-on:click="orderArr[2].value=='desc'?orderArr[2].value='asc':orderArr[2].value='desc';orderNow=2;getFirstData(true);">新报名</button>
		<a class="red-bg" href="#filter">筛选</a> -->
		<button v-bind:class="[orderNow==1?orderArr[1].value:'']" v-on:click="orderArr[1].value=='desc'?orderArr[1].value='asc':orderArr[1].value='desc';orderNow=1;getFirstData(true);">人气</button>
		<select v-on:change='getFirstData()'><option>职业</option><option v-for="obj in job">{{obj}}</option></select>
		<button v-bind:class="[orderNow==2?orderArr[2].value:'']" v-on:click="orderArr[2].value=='desc'?orderArr[2].value='asc':orderArr[2].value='desc';orderNow=2;getFirstData(true);">年龄</button>
		<select v-on:change='getFirstData()' ><option>性别</option><option>不限</option><option>男</option><option>女</option></select>
	</div>

	<div class="list-main">
		<dl class="member-dl" v-for="obj in news" v-bind:data-id="obj.id">
			<dt v-on:click="getId(obj.id)">
				<!--<span class="member-pair">匹配度:{{obj.score}}</span>-->
				<img v-if="obj.head_img==''" src="/img/noheadimg.png" alt="" />
				<img v-if="obj.head_img!=''" v-bind:src="obj.head_img" alt="" />
			</dt>
			<dd>
				<p class="member-name">{{obj.member_name}}</p>
				<p class="member-info"><span class="member_age">{{getAge(obj.day_of_birth)}}</span>岁<span class="member-stature">{{obj.height}}</span>cm/<span class="member_weight">{{obj.weight}}</span>kg</p>
				<img class="like-icon" v-if="!obj.is_like && yourid!=obj.id" v-bind:data-like="obj.is_like" v-on:click="sentLike(obj,false)" src="/img/unlike.png" alt="" />
				<img class="like-icon" v-if="obj.is_like" v-bind:data-like="obj.is_like" v-on:click="sentLike(obj,true)" src="/img/like.png" alt="" />
				<label>{{obj.mind_count?obj.mind_count:''}}</label>
			</dd>
		</dl>
	</div>

	<a class="editer-btn" href="#editor"><img src="/img/报名.png" alt="" /></a>
</div>


<div class="alert-msg">
    <p></p>
</div>