<div id="readme">
	<style>p{text-indent:.2rem;}</style>
	<br/>
	<h4 style="text-align: center;">【工青妇鹊桥交友平台活动注意事项及免责声明】</h4>
	<br/>
	<p>    用户欲访问和使用工青妇鹊桥交友平台，接受工青妇鹊桥交友平台提供的服务和活动，必须事先阅读本协议中各条款。</p>
	<br/>
	<h6>一、协议的接受和签署：</h6>
	<br/>
	<p>①工青妇鹊桥交友平台（以下简称“鹊桥平台”）将依据本协议为您提供交友服务。“鹊桥平台”协议 具有合同效力，对于您和“鹊桥平台”均具有约束力。</p>

	<p>②您在使用“鹊桥平台”服务之前，应当认真阅读“鹊桥平台”用户协议。如您不同意本协议或随时对 其的修改和更新，请您立即停止使用“鹊桥平台”所提供的的交友服务。一旦您在“鹊桥平台”注册页 面上点击或勾选“已仔细阅读并同意“鹊桥平台”用户注册协议”相关内容后，或者以其他“鹊桥平台 ”允许的方式实际使用“鹊桥平台”服务的，这就表示您已经阅读并且同意接受“鹊桥平台”用户协议 。</p>
	<br/>
	<p>③此外，您还应遵守“鹊桥平台”随时公布的与交友服务相关的指引和规则。一旦会员在注册页面点击 或勾选“已仔细阅读并同意“鹊桥平台”用户注册协议”相关内容后，这就表示会员已经阅读并同意与 “鹊桥平台”达成协议，并接受所有的注册条款。</p>
	<br/>
	<br/>
	<br/>
	<h6>二、服务说明：</h6>
	<br/>
	<p>①“鹊桥平台”为更好服务于我县单身朋友，尤其是来长兴、回长兴就业发展的优秀人才，拓宽择偶渠 道，搭建一个有力度、有温度、有准度的交友交流平台，为有情人终成眷属助一臂之力，使他们在长兴 能更加安心工作，幸福生活。</p>
	<br/>
	<p>②“鹊桥平台”为您提供的是免费公益交友服务，但“鹊桥平台”保留未来可能收取相关服务费的权利 。</p>
	<br/>
	<p>③首次登录“鹊桥平台”的用户，您可以在登录后直接进入“鹊桥平台”页面填充个人资料并获取一个 永久“鹊桥平台”编号，即可以“鹊桥平台”用户的身份接受“鹊桥平台”交友服务。</p>
	<br/>
	<p>④“鹊桥平台”是免费公益平台。当您接受“鹊桥平台”服务时您应确保您是单身状态，包括未婚、离 异或是丧偶，且要以恋爱或者婚姻卫目的，不得违反《婚姻法》的强制性规定及社会的公序良俗。</p>
	<br/>
	<p>⑤“鹊桥平台”提供的活动包括室内、室外和纯公益各种类型，一切活动以安全第一。凡报名人员视同 默认“鹊桥平台”活动规则，活动中的个人如有意外组织方应负责提供力所能及的服务，组织方不承担 任何责任。</p>
	<br/>
	<a href="#register" style="width:90%;height:.4rem;background:#FF6767;border-radius:.03rem;color:#FFF;margin-left:5%;display:inline-block;line-height:.4rem;text-align:center;">同意并继续</a>
	<br/>
	<br/>
</div>