<div id="system">
	<header class="title">
		<a class="back_a" href="#list"><img src="/img/返回.png" alt="" /></a>
		<label>工作人员登录</label>
	</header>


	<div class="system-body">

		<div class='form-admin'>
	<!-- 		<div class="form-row">
				<span>密码</span>
				<input placeholder="请输入工作人员密码" />
			</div> -->
			<button class="form-submit" v-on:click="admin_login">管理员登录</button>
			<h6 class="form-line"><label>申请</label></h6>
			<button class="form-submit" v-on:click="volunteer_register">申请成为志愿者</button>
		</div>
	</div>
</div>