<header class="title">
		<a class="back_a" href="#list"><img src="/img/返回.png" alt="" /></a>
		<label>留言</label>
	</header>
<div id="talk" class="talk">
	
	<h5 class="talk-title">
		<label>精选留言</label>
		<a onclick="talkbox.focus()">写留言</a>
	</h5>
	<ul class="talk-list">
		<li v-for="obj in data">
			<p>
				<img v-bind:src="obj.head_img" class="img-mid" />
			</p>
			<h6>{{obj.member_name}}</h6>
			<div>
				{{obj.message}}
			</div>
			<h3 v-if='obj.reply'> 回复:{{obj.reply}}</h3>
		</li>
	</ul>
	<div class="talk-input">
		<textarea style="resize:none;" placeholder="请输入您想对我们说的" v-model='message' id="talkbox"></textarea>
		<button v-on:click="add_message">发布留言</button>
	</div>
</div>